<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{employee.firstname}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employee.lastname}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{employee.email}}
    </div>
    <div>
        <label> <b> Address: </b></label> {{employee.address}}
    </div>
    <div>
        <label> <b> Mobile Number: </b></label> {{employee.mobileno}}
    </div>
    <div>
        <label> <b> City: </b></label> {{employee.city}}
    </div>
    <div>
        <label> <b> Dob: </b></label> {{employee.dob}}
    </div>

</div>

    <div class="container">
        <a class="btn btn-primary" href="/employees" > Back</a>
    </div>

