<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                
                <h1 class="text-center">Login here</h1>
                <form (ngSubmit) = "onSubmit()">
                    <mat-form-field class="full-width">
                        <mat-label>Enter Email id</mat-label>
                        <input 
                        [(ngModel)]="credentials.username"
                        required
                        name="username"
                        type="text" matInput />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input
                        [(ngModel)]="credentials.password" 
                        required
                        name="password " type="password" matInput />
                    </mat-form-field>
                    <button type="submit" mat-raised-button color="primary" >Login</button>
                    <a class="btn btn-primary" href="/create-manager" style="margin-left: 10px"> Register here</a>
                    
                </form>
              
            </div>
       
</div>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Register</h3>
            <form  (ngSubmit)="onSubmit()">
               
                  
                <div class="form-group">
                    <label>enter Email id</label>
                    <input type="text"  name="username"
                   [(ngModel)]="credentials.username" class="form-control" />
                   
                        
                       
                    </div>
               
                <div class="form-group">
                    <label>Password</label>
                    <input type="password"  name="password " [(ngModel)]="credentials.password"class="form-control" />
                    </div>
                    <button type="submit" mat-raised-button color="primary" >Login</button>
                    <a class="btn btn-primary" href="/create-manager" style="margin-left: 10px"> Register here</a>
                </form>
                    </div>
                    </div>
                    </div>
                
                      
                  